<!DOCTYPE html>
<html>
	<head>

		<!-- Basic -->
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">	

		<title>"Barometer"</title>	

		<meta name="keywords" content="HTML5 Template" />
		

		<!-- Favicon -->
		<link rel="shortcut icon" href="img/favicon.ico" type="image/x-icon" />
		<link rel="apple-touch-icon" href="img/apple-touch-icon.png">

		<!-- Mobile Metas -->
		<meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1.0, shrink-to-fit=no">

		<!-- Web Fonts  -->
		<link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,800,700,800%7CShadows+Into+Light" rel="stylesheet" type="text/css">

		<!-- Vendor2 CSS -->
		<link rel="stylesheet" href="./static/vendor2/bootstrap/css/bootstrap.min.css">
		<link rel="stylesheet" href="./static/vendor2/fontawesome-free/css/all.min.css">
		<link rel="stylesheet" href="./static/vendor2/animate/animate.min.css">
		<link rel="stylesheet" href="./static/vendor2/simple-line-icons/css/simple-line-icons.min.css">
		<link rel="stylesheet" href="./static/vendor2/owl.carousel/assets/owl.carousel.min.css">
		<link rel="stylesheet" href="./static/vendor2/owl.carousel/assets/owl.theme.default.min.css">
		<link rel="stylesheet" href="./static/vendor2/magnific-popup/magnific-popup.min.css">

		<!-- Theme CSS -->
		<link rel="stylesheet" href="./static/css2/theme.css">
		<link rel="stylesheet" href="./static/css2/theme-elements.css">
		<link rel="stylesheet" href="./static/css2/theme-blog.css">
		<link rel="stylesheet" href="./static/css2/theme-shop.css">
		
		<!-- Demo CSS -->


		<!-- Skin CSS -->
		<link rel="stylesheet" href="./static/css2/skins/default.css"> 

		<!-- Theme Custom CSS -->
		<link rel="stylesheet" href="./static/css2/custom.css">

		<!-- Head Libs -->
		<script src="./static/vendor2/modernizr/modernizr.min.js"></script>

	</head>
	<body>

		<div class="body">
			

			<div role="main" class="main">

				

				<div class="container">

					<div class="row align-items-end">
						
						<!-- BLOCK 1  -->
						<div class="col-md-6 col-lg-3 appear-animation" data-appear-animation="fadeInUpShorter" data-appear-animation-delay="800">
							

							<div class="card border-0 bg-color-grey">
								<div class="card-body">

									<h4 class="card-title mt-2 mb-1 text-4 font-weight-bold" id="BLOCK1-PRICE">LOADING...</h4>
									<p class="card-text" id="BLOCK1-NAME" >LOADING...</p>
								</div>
							</div>

						</div>



<!-- BLOCK 2  -->

						<div class="col-md-6 col-lg-3 mb-5 mb-lg-0 appear-animation" data-appear-animation="fadeInUpShorter" data-appear-animation-delay="400">
							

							<div class="card border-radius-0 bg-color-light border-0 box-shadow-1">
								<div class="card-body">
									<h4 class="card-title mb-1 text-4 font-weight-bold" id="BLOCK2-PRICE">LOADING...</h4>
									<p class="card-text" id="BLOCK2-NAME">LOADING...</p>
								</div>
							</div>

						</div>

<!-- BLOCK 3  -->
						<div class="col-md-6 col-lg-3 appear-animation" data-appear-animation="fadeInUpShorter" data-appear-animation-delay="800">
							

							<div class="card border-0 bg-color-grey">
								<div class="card-body">

									<h4 class="card-title mt-2 mb-1 text-4 font-weight-bold" id="BLOCK3-PRICE">LOADING...</h4>
									<p class="card-text" id="BLOCK3-NAME">LOADING...</p>
								</div>
							</div>

						</div>

<!-- BLOCK 4  -->
						<div class="col-md-6 col-lg-3 mb-5 mb-lg-0 appear-animation" data-appear-animation="fadeInUpShorter" data-appear-animation-delay="400">
							

							<div class="card border-radius-0 bg-color-light border-0 box-shadow-1">
								<div class="card-body">
									<h4 class="card-title mb-1 text-4 font-weight-bold" id="BLOCK4-PRICE">LOADING...</h4>
									<p class="card-text" id="BLOCK4-NAME">LOADING...</p>
								</div>
							</div>

						</div>

<!-- BLOCK 5  -->
						<div class="col-md-6 col-lg-3 mb-5 mb-lg-0 appear-animation" data-appear-animation="fadeInUpShorter" data-appear-animation-delay="400">
							

							<div class="card border-radius-0 bg-color-light border-0 box-shadow-1">
								<div class="card-body">
									<h4 class="card-title mb-1 text-4 font-weight-bold" id="BLOCK5-PRICE">LOADING...</h4>
									<p class="card-text" id="BLOCK5-NAME">LOADING...</p>
								</div>
							</div>

						</div>

<!-- BLOCK 6  -->
						<div class="col-md-6 col-lg-3 appear-animation" data-appear-animation="fadeInUpShorter" data-appear-animation-delay="800">
							

							<div class="card border-0 bg-color-grey">
								<div class="card-body">

									<h4 class="card-title mt-2 mb-1 text-4 font-weight-bold" id="BLOCK6-PRICE">LOADING...</h4>
									<p class="card-text" id="BLOCK6-NAME">LOADING...</p>
								</div>
							</div>

						</div>

<!-- BLOCK 7  -->
						<div class="col-md-6 col-lg-3 mb-5 mb-lg-0 appear-animation bg-color-light" data-appear-animation="fadeInUpShorter" data-appear-animation-delay="400">
							<div class="d-flex justify-content-around bd-highlight">
							<h4 class="card-title text-4 font-weight-bold ">Support</h4>
							<h4 class="card-title  text-4 font-weight-bold ">Resistance</h4>
							</div>

							<div class="d-flex justify-content-around bd-highlight">
							<p class="card-text" id="BLOCK7-SUPPORT" >LOADING...</p>
							<p class="card-text" id="BLOCK7-RESISTANCE" >LOADING...</p>
							</div>

							<div class="d-flex justify-content-center">
							<p class="card-text" id="BLOCK7-KEY">NEWLY ADDED</p>
							</div>
							<div class="d-flex justify-content-center">

							<p class="card-text" id="BLOCK7-PRICE">LOADING...</p>
							
							</div>


							<div class=" progress progress-xs">
												<div class="progress-bar progress-bar-primary" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 90%;" id="BLOCK7-PERCENTSTYLE">
													<span class="sr-only" id="BLOCK7-PERCENT">90% Complete</span>
												</div>
											</div>


						</div>
<!-- BLOCK 8  -->
						<div class="col-md-6 col-lg-3 appear-animation" data-appear-animation="fadeInUpShorter" data-appear-animation-delay="800">
							

							<div class="card border-0 bg-color-grey">
								<div class="card-body">

									<h4 class="card-title mt-2 mb-1 text-4 font-weight-bold" id="BLOCK8-SYMBOL">LOADING...</h4>
									<p class="card-text" id="BLOCK8-PERCENT">LOADING...</p>
								</div>
							</div>

						</div>


<!-- BLOCK 9  -->
						<div class="col-md-6 col-lg-3 appear-animation" data-appear-animation="fadeInUpShorter" data-appear-animation-delay="800">
							

							<div class="d-flex justify-content-around bd-highlight">
							<h4 class="card-title text-4 font-weight-bold ">PUT</h4>
							<h4 class="card-title  text-4 font-weight-bold ">CALL</h4>
							</div>

							<div class="d-flex justify-content-around bd-highlight">
							<p class="card-text font-weight-bold" id="BLOCK9-PUT" >LOADING...</p>
							<p class="card-text font-weight-bold" id="BLOCK9-CALL" >LOADING...</p>
							</div>

							<div class="d-flex justify-content-center">
							<p class="card-text" id="BLOCK9-KEY">Change In OI</p>
							</div>
						



						</div>


						<!-- BLOCK 10  -->

						<div class="col-md-6 col-lg-3 mb-5 mb-lg-0 appear-animation" data-appear-animation="fadeInUpShorter" data-appear-animation-delay="400">
							
							<div class="card border-0 bg-color-light">
								<div class="card-body">

									<h4 class="card-title mt-2 mb-1 text-4 font-weight-bold" id="BLOCK10-SYMBOL">LOADING...</h4>
									<p class="card-text" id="BLOCK10-PERCENT">LOADING...</p>
								</div>
							</div>
							

						</div>


						<!-- BLOCK 11  -->

						<div class="col-md-6 col-lg-3 mb-5 mb-lg-0 appear-animation" data-appear-animation="fadeInUpShorter" data-appear-animation-delay="400">

							


							

							<div class="card border-0 bg-color-grey">
								<div class="card-body">



									<h4 class="card-title mt-2 mb-1 text-4 font-weight-bold" id="BLOCK11-SYMBOL">LOADING...</h4>
									<p class="card-text" id="BLOCKxx-NAME">VOL BURST 10D</p>
								</div>
							</div>

						</div>


						<!-- BLOCK 12 / -->

						<div class="col-md-6 col-lg-3 mb-5 mb-lg-0 appear-animation" data-appear-animation="fadeInUpShorter" data-appear-animation-delay="400">
							

							<div class="card border-0 bg-color-green">
								<div class="card-body">

									<h4 class="card-title mt-2 mb-1 text-4 font-weight-bold" id="BLOCK12-SYMBOL">LOADING...</h4>
									<p class="card-text" id="BLOCKxx-NAME">VOL BURST 15D</p>
								</div>
							</div>

						</div>



<!-- BLOCK 13  -->
						<div class="col-md-6 col-lg-3 mb-5 mb-lg-0 appear-animation" data-appear-animation="fadeInUpShorter" data-appear-animation-delay="400">
							

							<div class="card border-radius-0 bg-color-light border-0 box-shadow-1">
								<canvas id="advdec" width="400" height="400"></canvas>

							</div>

						</div>

					

<!-- BLOCK 14  -->
					<div class="col-md-6 col-lg-3 mb-5 mb-lg-0 appear-animation" data-appear-animation="fadeInUpShorter" data-appear-animation-delay="400">
							

							<div class="card border-0 bg-color-grey">
								<div class="card-body">

									<h4 class="card-title mt-2 mb-1 text-4 font-weight-bold" id="BLOCK12-SYMBOL">POSITIVES</h4>
									<ul style="
    padding: 0;
    position: relative;
    /* margin:5px; */
    display: inline-block;
    display: inline-block;
    list-style-type:none;
" id="BLOCK-POSITIVE">
  <li>...</li>
  <li>...</li>
  <li>...</li>
</ul>
								</div>
							</div>

					</div>



<!-- BLOCK 15  -->
					<div class="col-md-6 col-lg-3 mb-5 mb-lg-0 appear-animation" data-appear-animation="fadeInUpShorter" data-appear-animation-delay="400">
							

							<div class="card border-0 " style="
    background-color: lightyellow;
">
								<div class="card-body">

									<h4 class="card-title mt-2 mb-1 text-4 font-weight-bold" id="BLOCK12-SYMBOL">NEGATIVE</h4>
									<ul style="
    padding: 0;
    position: relative;
    /* margin:5px; */
    display: inline-block;
    display: inline-block;
    list-style-type:none;
" id="BLOCK-NEGATIVE">
  <li>...</li>
  <li>...</li>
  <li>...</li>
</ul>
								</div>
							</div>

					</div>


<!-- BLOCK 16  -->
					<div class="col-md-6 col-lg-3 mb-5 mb-lg-0 appear-animation" data-appear-animation="fadeInUpShorter" data-appear-animation-delay="400">
							



							
<div class="cont">
	<a id = "BLOCK-NEWS-ONCLICK-URL" href="https://in.investing.com/" target="_blank">
									<img src="https://akm-img-a-in.tosshub.com/indiatoday/images/story/202107/stockvault-bull-versus-bear-fi_1200x768.jpeg?vIsSSRI_zHNqYDVQIklAIe1GsHB5cTAr&size=770:433" id="BLOCK-NEWS-URL" alt="Italian Trulli" style="width:250px;height:240px;-webkit-filter: blur(2px); 
                filter: blur(2px); opacity: 0.5;">
               </a> 
									
</div>
								

					</div>

 

    <div style="position: absolute; bottom: 5px;" id="BLOCK-NEWS">
    Fetching Latest News Headlines...
    </div>



</div>


				

					

					

				</div>





				
			</div>
 
			
		</div>


		

		<!-- Vendor2 -->
		<script src="./static/vendor2/jquery/jquery.min.js"></script>
		<script src="./static/vendor2/jquery.appear/jquery.appear.min.js"></script>
		<script src="./static/vendor2/jquery.easing/jquery.easing.min.js"></script>
		<script src="./static/vendor2/jquery.cookie/jquery.cookie.min.js"></script>
		<script src="./static/vendor2/popper/umd/popper.min.js"></script>
		<script src="./static/vendor2/bootstrap/js/bootstrap.min.js"></script>
		<script src="./static/vendor2/common/common.min.js"></script>
		<script src="./static/vendor2/jquery.validation/jquery.validate.min.js"></script>
		<script src="./static/vendor2/jquery.easy-pie-chart/jquery.easypiechart.min.js"></script>
		<script src="./static/vendor2/jquery.gmap/jquery.gmap.min.js"></script>
		<script src="./static/vendor2/jquery.lazyload/jquery.lazyload.min.js"></script>
		<script src="./static/vendor2/isotope/jquery.isotope.min.js"></script>
		<script src="./static/vendor2/owl.carousel/owl.carousel.min.js"></script>
		<script src="./static/vendor2/magnific-popup/jquery.magnific-popup.min.js"></script>
		<script src="./static/vendor2/vide/jquery.vide.min.js"></script>
		<script src="./static/vendor2/vivus/vivus.min.js"></script>


		<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.7.0/chart.min.js" integrity="sha512-TW5s0IT/IppJtu76UbysrBH9Hy/5X41OTAbQuffZFU6lQ1rdcLHzpU5BzVvr/YFykoiMYZVWlr/PX1mDcfM9Qg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

		<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.7.0/chart.esm.js" integrity="sha512-Jmi+uNSDc8pyBNQbRkhwxqTtRsAzq1p0IK7dSLjaudwIIqoG2giyWRvsh4bbPd2mNSbK1GyEiBUO86RSs428UQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

		<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.7.0/chart.esm.min.js" integrity="sha512-SaY95UIbYlNfmc6tZOtqEWMyDHpIKJwXCPfDZNvgudlFZiJjMU3XJNrSnkVCL/3b7szsoU3hDXpUz6+TdLY1ag==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

		<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.7.0/chart.js" integrity="sha512-uLlukEfSLB7gWRBvzpDnLGvzNUluF19IDEdUoyGAtaO0MVSBsQ+g3qhLRL3GTVoEzKpc24rVT6X1Pr5fmsShBg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

		<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.7.0/helpers.esm.js" integrity="sha512-NrPCPNanqa1FM/aKCsKqZaEKs0X9M0JMVB9bjX8T2f50/LHQD+gHn0CX/ZN+kNkDPfXsQGfic21b/rKknQdC3Q==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

		<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.7.0/helpers.esm.min.js" integrity="sha512-urWBnIv+F027G24xDNigjxvIuwnWlWy94W2yx77VkISKLzKSohOKOubMDhtEF6LZcEH7gctmNSpxDqIW/zMmUg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
		
		<!-- Theme Base, Components and Settings -->
		<script src="./static/js2/theme.js"></script>

		<!-- Theme Custom -->
		<script src="./static/js2/custom.js"></script>
		
		<!-- Theme Initialization Files -->
		<script src="./static/js2/theme.init.js"></script>

		<!-- Google Analytics: Change UA-XXXXX-X to be your site's ID. Go to http://www.google.com/analytics/ for more information.
		<script>
			(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
			(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
			m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
			})(window,document,'script','//www.google-analytics.com/analytics.js','ga');
		
			ga('create', 'UA-12345678-1', 'auto');
			ga('send', 'pageview');
		</script>
		 -->



		 <script type="text/javascript">

		 	var block1 = null;
		 	var block2 = null;
		 	var block3 = null;
		 	var block4 = null;
		 	var block5 = null;
		 	var block6 = null;


		 	var b1 = null;
		 	var b2 = null;
		 	var b3 = null;
		 	var b4 = null;
		 	var b5 = null;
		 	var b6 = null;
		 	var b7 = null;
		 	var b8 = null;
		 	var b9 = null;
		 	var b10 = null;
		 	var b11 = null;
		 	var b12 = null;
		 	var b13 = null;
		 	var b14 = null;
		 	var bNews = null;
		 	var myChart = null;



		 	function sleep(ms) {
  				return new Promise(resolve => setTimeout(resolve, ms));
			}

			async function refreshNews(data){
				var  ctx = document.getElementById('BLOCK-NEWS');
				var imageURL = document.getElementById('BLOCK-NEWS-URL');
				var clickURL = document.getElementById('BLOCK-NEWS-ONCLICK-URL');

				var resCount1 = parseInt(data["totalResults"]);
				console.log("RESULTS "+resCount1);


				for(var i=0;i<50;i++){
					

					resCount = (parseInt(Math.random()*100))%(resCount1-1);
					if(resCount>99){
						resCount = (parseInt(Math.random()*100))%10;
					}

					console.log("DISPLAY "+resCount);

					try{

					ctx.innerHTML = data["articles"][resCount]["description"].substr(0,150)+"...";
					imageURL.src = data["articles"][resCount]["urlToImage"];
					clickURL.href = data["articles"][resCount]["url"];
					}

					catch(err){
						console.log("FAILURE : "+data["articles"][resCount]);
					}

					await sleep(10*1000);

				}

			}



			async function refreshBlock14(positives,negatives){

				var neg = document.getElementById('BLOCK-NEGATIVE');
				var pos = document.getElementById('BLOCK-POSITIVE');

				var temp_pos = "";
				var temp_neg = "";

				for(var x in positives){
					temp_pos += "<li>" + positives[x] +"</li>";
				}

				for(var x in negatives){
					temp_neg += "<li>" + negatives[x] +"</li>";
				}

				neg.innerHTML = temp_neg;
				pos.innerHTML = temp_pos;

			}




			async function refreshBlock13(data){


				var advances = [] ;
				var declines = [] ;

				for(var i=1;i<=6;i++){
					advances.push(parseInt(data[i]["advances"]));
					declines.push(parseInt(data[i]["declines"]));
				}

				console.log(advances);
				console.log(declines);


				const ctx = document.getElementById('advdec');
if(myChart!=null){
	myChart.destroy();
}

myChart = new Chart(ctx, {
    type: 'bar',
    data: {
        labels: ['0','1','2','3','4','5'],
        datasets: [{
            label: 'ADVANCE',
            data: advances,
            borderColor: 'rgba(0, 0, 0, 1)',
            backgroundColor:'rgba(0, 255, 0, 0.4)',
        	pointRadius : 3,
	        fill : true
        },
        {
            label: 'DECLINE',
            data: declines,
            borderColor: 'rgba(0, 0, 0, 1)',
            backgroundColor:'rgba(255, 0, 0, 0.4)',
        	pointRadius : 3,
	        fill : true
        }]
    },
    options: {
        scales: {
            y: {
                beginAtZero: true
            }
        }
    }
});


			}


			async function refreshBlock9(data){

				document.getElementById("BLOCK9-PUT").innerHTML = data["PUT"];
				document.getElementById("BLOCK9-CALL").innerHTML = data["CALL"];

				if(data["PUT"]>data["CALL"]){
					document.getElementById("BLOCK9-PUT").style = "color: green";
					document.getElementById("BLOCK9-CALL").style = "color: black";
				}
				else{
					document.getElementById("BLOCK9-CALL").style = "color: red";
					document.getElementById("BLOCK9-PUT").style = "color: black";
				}

			}


			async function refreshBlock8(data){


				for(var key in data){

				document.getElementById("BLOCK8-SYMBOL").innerHTML = key;
				document.getElementById("BLOCK8-PERCENT").innerHTML = data[key]+"% DELIVERY";

				await sleep(4000+Math.floor((Math.random() * 1000) + 1));

				}
				

			}

			async function refreshBlock10(data){


				for(var key in data){

				document.getElementById("BLOCK10-SYMBOL").innerHTML = key;
				document.getElementById("BLOCK10-PERCENT").innerHTML = data[key]+"% AWAY FROM 52W HIGH";

				await sleep(4000+Math.floor((Math.random() * 1000) + 1));

				}
				

			}



			async function refreshBlock11(data){


				for(var key in data){

				document.getElementById("BLOCK11-SYMBOL").innerHTML = key;
				

				await sleep(3000+Math.floor((Math.random() * 1000) + 1));

				}
				

			}



			async function refreshBlock12(data){


				for(var key in data){

				document.getElementById("BLOCK12-SYMBOL").innerHTML = key;
				

				await sleep(3000+Math.floor((Math.random() * 1000) + 1));

				}
				

			}



			async function refreshBlock7(data){

				var interval = data["META"]["INTERVAL"];
				
				for(var key in data["INFO"]){

					document.getElementById("BLOCK7-SUPPORT").innerHTML = data["INFO"][key]["support"];
					document.getElementById("BLOCK7-RESISTANCE").innerHTML = data["INFO"][key]["resistance"];					
					
					var supp = parseInt(data["INFO"][key]["support"]);
					var ress = parseInt(data["INFO"][key]["resistance"]);
					var price = parseInt(data["INFO"][key]["price"].replace(",",""));

					document.getElementById("BLOCK7-KEY").innerHTML = key;
					document.getElementById("BLOCK7-PRICE").innerHTML = price;

					var percent  = 0;
					if(price<supp){
						percent =0;
					}
					else{
						if(percent>ress){
							percent = 100;
						}
						else{
							var diff = price - supp;
							var range = ress - supp;
							percent = (diff/range)*100;
						}
					}



					document.getElementById("BLOCK7-PERCENT").innerHTML = percent +"% Complete";
					document.getElementById("BLOCK7-PERCENTSTYLE").style = "width: "+percent+"%;";

					
					await sleep(5000+Math.floor((Math.random() * 1000) + 1));

				}

			}



			async function refreshBlock6(data){

				var interval = data["META"]["INTERVAL"];
				
				for(var key in data["INFO"]){

					document.getElementById("BLOCK6-PRICE").innerHTML = data["INFO"][key]["PRICE"]+ " / "+data["INFO"][key]["CHANGE"];;
					if(data["INFO"][key]["CHANGE"].includes("-")){
						document.getElementById("BLOCK6-PRICE").style = "color: red";
					}
					else{
						document.getElementById("BLOCK6-PRICE").style = "color: black";
					}
					document.getElementById("BLOCK6-NAME").innerHTML = key;

					console.log(key);
					await sleep(5000+Math.floor((Math.random() * 1000) + 1));

				}

			}


			async function refreshBlock5(data){

				var interval = data["META"]["INTERVAL"];
				
				for(var key in data["INFO"]){

					document.getElementById("BLOCK5-PRICE").innerHTML = data["INFO"][key]["PRICE"];
					if(data["INFO"][key]["CHANGE"].includes("-")){
						document.getElementById("BLOCK5-PRICE").style = "color: red";
					}
					else{
						document.getElementById("BLOCK5-PRICE").style = "color: black";
					}
					document.getElementById("BLOCK5-NAME").innerHTML = key;

					console.log(key);
					await sleep(5000+Math.floor((Math.random() * 1000) + 1));

				}

			}



			async function refreshBlock4(data){

				var interval = data["META"]["INTERVAL"];
				
				for(var key in data["INFO"]){

					document.getElementById("BLOCK4-PRICE").innerHTML = data["INFO"][key]["PRICE"]+ " / "+data["INFO"][key]["CHANGE"];
					if(data["INFO"][key]["CHANGE"].includes("-")){
						document.getElementById("BLOCK4-PRICE").style = "color: red";
					}
					else{
						document.getElementById("BLOCK4-PRICE").style = "color: black";
					}
					document.getElementById("BLOCK4-NAME").innerHTML = key;

					console.log(key);
					await sleep(2000+Math.floor((Math.random() * 1000) + 1));

				}

			}



			async function refreshBlock3(data){

				var interval = data["META"]["INTERVAL"];
				
				for(var key in data["INFO"]){

					document.getElementById("BLOCK3-PRICE").innerHTML = data["INFO"][key]["PRICE"]+ " / "+data["INFO"][key]["CHANGE"];
					if(data["INFO"][key]["CHANGE"].includes("-")){
						document.getElementById("BLOCK3-PRICE").style = "color: red";
					}
					else{
						document.getElementById("BLOCK3-PRICE").style = "color: black";
					}
					document.getElementById("BLOCK3-NAME").innerHTML = key;

					console.log(key);
					await sleep(4000+Math.floor((Math.random() * 1000) + 1));

				}

			}

			async function refreshBlock2(data){

				var interval = data["META"]["INTERVAL"];
				
				for(var key in data["INFO"]){

					document.getElementById("BLOCK2-PRICE").innerHTML = data["INFO"][key]["PRICE"]+ " / "+data["INFO"][key]["CHANGE"];
					if(data["INFO"][key]["CHANGE"].includes("-")){
						document.getElementById("BLOCK2-PRICE").style = "color: red";
					}
					else{
						document.getElementById("BLOCK2-PRICE").style = "color: black";
					}
					document.getElementById("BLOCK2-NAME").innerHTML = key;

					console.log(key);
					await sleep(2000+Math.floor((Math.random() * 1000) + 1));

				}

			}


		 	async function refreshBlock1(data){

				var interval = data["META"]["INTERVAL"];
				
				for(var key in data["INFO"]){

					document.getElementById("BLOCK1-PRICE").innerHTML = data["INFO"][key]["PRICE"]+ " / "+data["INFO"][key]["CHANGE"];
					if(data["INFO"][key]["CHANGE"].includes("-")){
						document.getElementById("BLOCK1-PRICE").style = "color: red";
					}
					else{
						document.getElementById("BLOCK1-PRICE").style = "color: black";
					}
					document.getElementById("BLOCK1-NAME").innerHTML = key;

					console.log(key);
					await sleep(2000+Math.floor((Math.random() * 1000) + 1));

				}

		 	}



function getNewDataSet(){
		 	

		 	console.log("FETCHING NEW DATA");
		 	$.ajax(
    {
        type:"GET",
        url: "/BarometerData",
        data:{
                 
        },
        success: function( data ) 
        {	
        	//setup blocks.

        	//block1.
        	var d = new Map();
        	var block1 = new Map();



        	var positives = [];
        	var negatives = [];


        	d["INTERVAL"] = 5;


        	block1["META"] = d;

        	var  dataBlock = new Map();
        	var  allDataBlock = new Map();
        	dataBlock["PRICE"] = data["allData"]["Nifty Bank"]["PRICE"]
        	dataBlock["CHANGE"] = data["allData"]["Nifty Bank"]["CHANGE"]
        	
        	allDataBlock["Nifty Bank"] = dataBlock
        	dataBlock = new Map();

        	dataBlock["PRICE"] = data["allData"]["Nifty 50 Futures (Singapore)"]["PRICE"]


        	dataBlock["CHANGE"] = data["allData"]["Nifty 50 Futures (Singapore)"]["CHANGE"]
        	

        	if(parseInt(dataBlock["CHANGE"].replace("%",""))>0.5){
        		positives.push("SGX IN GREEN");
        	}else{
        		if(parseInt(dataBlock["CHANGE"].replace("%",""))>0){
        		positives.push("SGX IN NEURTAL");
        		}
        		else{
        			negatives.push("SGX IN NEGATIVE");
        		}
        	}

        	


        	allDataBlock["SGX Nifty"] = dataBlock
        	dataBlock = new Map();

        	dataBlock["PRICE"] = data["allData"]["Nifty 50"]["PRICE"]
        	dataBlock["CHANGE"] = data["allData"]["Nifty 50"]["CHANGE"]



        	if(parseInt(dataBlock["CHANGE"].replace("%",""))>0.5){
        		positives.push("NIFTY IN GREEN");
        	}else{
        		if(parseInt(dataBlock["CHANGE"].replace("%",""))>0){
        		positives.push("NIFTY IS NEURTAL");
        		}
        		else{
        			negatives.push("NIFTY IN NEGATIVE");
        		}
        	}
        	
        	allDataBlock["Nifty"] = dataBlock
        	dataBlock = new Map();

        	block1["INFO"] = allDataBlock


        	if(b1!=null){
        		clearInterval(b1)
        	}
		 	refreshBlock1(block1);
		 	b1 = setInterval(refreshBlock1,10*1000,block1);

		 	//block2 

			block1 = new Map();
		 	block1["META"] = d;

        	dataBlock = new Map();
        	allDataBlock = new Map();
        	console.log(data);

        	dataBlock["PRICE"] = data["allData"]["Reliance Industries Ltd"]["PRICE"]
        	dataBlock["CHANGE"] = data["allData"]["Reliance Industries Ltd"]["CHANGE"]


        	if(parseInt(dataBlock["CHANGE"].replace("%",""))>0.5){
        		positives.push("RELIANCE IN GREEN");
        	}else{
        		if(parseInt(dataBlock["CHANGE"].replace("%",""))<-0.5){
        			
        			negatives.push("RELIANCE IN NEGATIVE");
        		}
        	}


        	
        	allDataBlock["Reliance"] = dataBlock
        	dataBlock = new Map();

        	dataBlock["PRICE"] = data["allData"]["HDFC Bank Ltd"]["PRICE"]
        	dataBlock["CHANGE"] = data["allData"]["HDFC Bank Ltd"]["CHANGE"]
        	
        	allDataBlock["HDFC"] = dataBlock
        	dataBlock = new Map();

        	dataBlock["PRICE"] = data["allData"]["ICICI Bank Ltd"]["PRICE"]
        	dataBlock["CHANGE"] = data["allData"]["ICICI Bank Ltd"]["CHANGE"]
        	
        	allDataBlock["ICICI"] = dataBlock
        	dataBlock = new Map();


        	dataBlock = new Map();

        	dataBlock["PRICE"] = data["allData"]["Infosys Ltd"]["PRICE"]
        	dataBlock["CHANGE"] = data["allData"]["Infosys Ltd"]["CHANGE"]



        	if(parseInt(dataBlock["CHANGE"].replace("%",""))>0.5){
        		positives.push("INFY IN GREEN");
        	}else{
        		if(parseInt(dataBlock["CHANGE"].replace("%",""))<-0.5){
        			
        			negatives.push("INFY IN NEGATIVE");
        		}
        	}


        	
        	allDataBlock["INFY"] = dataBlock
        	dataBlock = new Map();



        	block1["INFO"] = allDataBlock

        	if(b2!=null){
        		clearInterval(b2)
        	}
		 	refreshBlock2(block1);
		 	b2 = setInterval(refreshBlock2,30*1000,block1);



		 	//block3

			block1 = new Map();
		 	block1["META"] = d;

        	dataBlock = new Map();
        	allDataBlock = new Map();
        	console.log(data);

        	dataBlock["PRICE"] = data["allData"]["CBOE Volatility Index (CFD)"]["PRICE"]
        	dataBlock["CHANGE"] = data["allData"]["CBOE Volatility Index (CFD)"]["CHANGE"]


        	if(parseInt(dataBlock["CHANGE"].replace("%",""))>0.8){
        		negatives.push("US VIX IS INCREASING");
        	}else{
        		if(parseInt(dataBlock["CHANGE"].replace("%",""))<-0.8){
        			
        			positives.push("US VIX IS DECREASING");
        		}
        	}


        	
        	allDataBlock["CBOE VIX"] = dataBlock
        	dataBlock = new Map();

        	dataBlock["PRICE"] = data["allData"]["India VIX"]["PRICE"]
        	dataBlock["CHANGE"] = data["allData"]["India VIX"]["CHANGE"]


        	if(parseInt(dataBlock["CHANGE"].replace("%",""))>0.8){
        		negatives.push("IN VIX IS INCREASING");
        	}else{
        		if(parseInt(dataBlock["CHANGE"].replace("%",""))<-0.8){
        			
        			positives.push("IN VIX IS DECREASING");
        		}
        	}


        	
        	allDataBlock["India VIX"] = dataBlock
        	dataBlock = new Map();



        	block1["INFO"] = allDataBlock

        	if(b3!=null){
        		clearInterval(b3)
        	}
		 	refreshBlock3(block1);
		 	b3 = setInterval(refreshBlock3,10*1000,block1);

		 	//block 4

		 	block1 = new Map();
		 	block1["META"] = d;

        	dataBlock = new Map();
        	allDataBlock = new Map();
        	console.log(data);

        	dataBlock["PRICE"] = data["allData"]["Dow Jones Futures"]["PRICE"]
        	dataBlock["CHANGE"] = data["allData"]["Dow Jones Futures"]["CHANGE"]


        	if(parseInt(dataBlock["CHANGE"].replace("%",""))>0.5){
        		positives.push("DOW IN GREEN");
        	}else{
        		if(parseInt(dataBlock["CHANGE"].replace("%",""))<-0.5){
        		negatives.push("DOW IN NEGATIVE");
        		}
        		else{
        			//negatives.push("DOW IN NEGATIVE");
        		}
        	}



        	
        	allDataBlock["DOW FUT"] = dataBlock
        	dataBlock = new Map();

        	dataBlock["PRICE"] = data["allData"]["Dow Jones Composite"]["PRICE"]
        	dataBlock["CHANGE"] = data["allData"]["Dow Jones Composite"]["CHANGE"]
        	
        	allDataBlock["DOW COMPOSITE"] = dataBlock
        	dataBlock = new Map();

        	dataBlock["PRICE"] = data["allData"]["Nasdaq 100 Futures"]["PRICE"]
        	dataBlock["CHANGE"] = data["allData"]["Nasdaq 100 Futures"]["CHANGE"]


        	if(parseInt(dataBlock["CHANGE"].replace("%",""))>0.5){
        		positives.push("NASDAQ IN GREEN");
        	}else{
        		if(parseInt(dataBlock["CHANGE"].replace("%",""))<-0.5){
        		negatives.push("NASDAQ IS NEGATIVE");
        		}
        		else{
        			//negatives.push("NASDAQ IN NEGATIVE");
        		}
        	}



        	
        	allDataBlock["NASDAQ 100"] = dataBlock
        	dataBlock = new Map();

        	dataBlock["PRICE"] = data["allData"]["Gold Futures (CFD)"]["PRICE"]
        	dataBlock["CHANGE"] = data["allData"]["Gold Futures (CFD)"]["CHANGE"]
			
			if(parseInt(dataBlock["CHANGE"].replace("%",""))>0.5){
        		negatives.push("GOLD IN GREEN");
        	}else{
        		if(parseInt(dataBlock["CHANGE"].replace("%",""))<-0.5){
        		positives.push("GOLD IS NEGATIVE");
        		}
        		else{
        			//negatives.push("NASDAQ IN NEGATIVE");
        		}
        	}


        	
        	allDataBlock["GOLD"] = dataBlock




        	block1["INFO"] = allDataBlock

        	if(b4!=null){
        		clearInterval(b4)
        	}
		 	refreshBlock4(block1);
		 	b4 = setInterval(refreshBlock4,20*1000,block1);



		 	//block 5

		 	block1 = new Map();
		 	block1["META"] = d;

        	dataBlock = new Map();
        	allDataBlock = new Map();
        	console.log(data);

        	dataBlock["PRICE"] = data["derivativeData"]["ChaneInOI_CURR_SERIES"]
        	dataBlock["CHANGE"] = data["derivativeData"]["pChaneInOI_CURR_SERIES"]


        	if(parseInt(dataBlock["CHANGE"].replace("%",""))>0.5){
        		positives.push("CHANGE IN OI +");
        	}else{
        		if(parseInt(dataBlock["CHANGE"].replace("%",""))<-0.5){
        		negatives.push("CHANGE IN OI -");
        		}
        		else{
        			//negatives.push("NASDAQ IN NEGATIVE");
        		}
        	}



        	var title_= data["derivativeData"]["date"];
        	title_ = title_.split(" ");
        	title_ = title_[1];

        	document.title = "Barometer :"+title_;
        	
        	allDataBlock["COI"] = dataBlock
        	dataBlock = new Map();

        	dataBlock["PRICE"] = data["derivativeData"]["newlyAddedCOISupport"]["1"] +" / "+data["derivativeData"]["newlyAddedCOIResistance"]["1"]
        	dataBlock["CHANGE"] = " "
        	
        	allDataBlock["NEW SUPP/RESIS"] = dataBlock
        	dataBlock = new Map();

        	dataBlock["PRICE"] = data["derivativeData"]["PCR_OI"]

        	if(parseInt(dataBlock["PRICE"])>1.5){
        		negatives.push("PCR IS OVERBOUGHT");
        	}else{
        		if(parseInt(dataBlock["PRICE"])<0.8){
        		positives.push("PCR IS OVERSOLD");
        		}
        		else{
        			//negatives.push("NASDAQ IN NEGATIVE");
        		}
        	}



        	dataBlock["CHANGE"] = " "
        	
        	allDataBlock["PCR OI"] = dataBlock
        	dataBlock = new Map();

        	dataBlock["PRICE"] = data["derivativeData"]["pChangeInOI"]+"%"
        	dataBlock["CHANGE"] = ""
        	
        	allDataBlock["OI CHANGE OPT"] = dataBlock
        	dataBlock = new Map();

        	dataBlock["PRICE"] = data["derivativeData"]["MAX_PAIN"]

        	var mxPAin = parseInt(dataBlock["PRICE"]);
        	var nifPrice = parseInt(data["allData"]["Nifty 50"]["PRICE"].replace(",",""));

        	var diffs = Math.abs(mxPAin - nifPrice)/nifPrice;


        	if(diffs>0.015){
        		negatives.push("NIFTY FAR FROM MX PAIN");
        	}else{
        		
        	}



        	dataBlock["CHANGE"] = " "
        	
        	allDataBlock["MAX PAIN"] = dataBlock
        	dataBlock = new Map();


        	block1["INFO"] = allDataBlock

        	if(b5!=null){
        		clearInterval(b5)
        	}
		 	refreshBlock5(block1);
		 	b5 = setInterval(refreshBlock5,30*1000,block1);


		 	//block 6

		 	block1 = new Map();
		 	block1["META"] = d;

        	dataBlock = new Map();
        	allDataBlock = new Map();
        	console.log(data);

        	dataBlock["PRICE"] = data["participantData_Cash"]["DII **"]["netValue"]
        	dataBlock["CHANGE"] = data["participantData_Cash"]["DII **"]["date"].replace("-2022","")
        	
        	allDataBlock["DII CASH"] = dataBlock
        	dataBlock = new Map();

        	dataBlock["PRICE"] = data["participantData_Cash"]["FII/FPI *"]["netValue"]
        	dataBlock["CHANGE"] = data["participantData_Cash"]["FII/FPI *"]["date"].replace("-2022","")
        	allDataBlock["FII CASH"] = dataBlock



        	//future prices will be picked from the DIILongChange... 
			if(parseInt(data["participantData_Cash"]["DII **"]["netValue"].replace("%",""))>200){
        		positives.push("DII BOUGHT");
        	}else{
        		if(parseInt(data["participantData_Cash"]["DII **"]["netValue"].replace("%",""))<0){
        		negatives.push("DII NET SELLER");
        		}
        		else{
        			//negatives.push("NASDAQ IN NEGATIVE");
        		}
        	}


        	if(parseInt(data["participantData_Cash"]["FII/FPI *"]["netValue"].replace("%",""))>200){
        		positives.push("FII BOUGHT");
        	}else{
        		if(parseInt(data["participantData_Cash"]["FII/FPI *"]["netValue"].replace("%",""))<0){
        		negatives.push("FII NET SELLER");
        		}
        		else{
        			//negatives.push("NASDAQ IN NEGATIVE");
        		}
        	}



        	
        	
        	dataBlock = new Map();

        	dataBlock["PRICE"] = data["FUT LONG DII"]
        	dataBlock["CHANGE"] = data["DIIlongChange"]
        	
        	allDataBlock["DII FUT LONG"] = dataBlock
        	dataBlock = new Map();

        	dataBlock["PRICE"] = data["FUT LONG FII"]
        	dataBlock["CHANGE"] = data["FIIlongChange"]
        	
        	allDataBlock["FII FUT LONG"] = dataBlock
        	dataBlock = new Map();

        	dataBlock["PRICE"] = data["ClientLong"]
        	dataBlock["CHANGE"] = data["ClientLongChange"]
        	
        	allDataBlock["CLIENT FUT LONG"] = dataBlock
        	dataBlock = new Map();



        	block1["INFO"] = allDataBlock

        	if(b6!=null){
        		clearInterval(b6)
        	}
		 	refreshBlock6(block1);
		 	b6 = setInterval(refreshBlock6,30*1000,block1);



		 	//block7

		 	block1 = new Map();
		 	block1["META"] = d;

        	dataBlock = new Map();
        	allDataBlock = new Map();
        	

        	dataBlock["support"] = data["derivativeData"]["supports"]["S1"]
        	dataBlock["resistance"] = data["derivativeData"]["resistance"]["R1"]
        	dataBlock["price"] = data["allData"]["Nifty 50"]["PRICE"]
        	
        	allDataBlock["Overall"] = dataBlock
        	dataBlock = new Map();

        	dataBlock["support"] = data["derivativeData"]["newlyAddedCOISupport"]["1"]
        	dataBlock["resistance"] =data["derivativeData"]["newlyAddedCOIResistance"]["1"]
        	dataBlock["price"] = data["allData"]["Nifty 50"]["PRICE"]
        	
        	allDataBlock["Newly Added"] = dataBlock


        	


        	block1["INFO"] = allDataBlock

        	if(b7!=null){
        		clearInterval(b7)
        	}
		 	refreshBlock7(block1);
		 	b7 = setInterval(refreshBlock7,10*1000,block1);


		 	//block 8 



		 	//block 9

		 	block1 = new Map();
		 	block1["META"] = d;

        	dataBlock = new Map();
        	allDataBlock = new Map();
        	

        	dataBlock["PUT"] = data["derivativeData"]["PCR_COI"]["PUT COI"]
        	dataBlock["CALL"] = data["derivativeData"]["PCR_COI"]["CALL COI"]
        	

        	if(b9!=null){
        		clearInterval(b9)
        	}
		 	refreshBlock9(dataBlock);
		 	b9 = setInterval(refreshBlock9,30*1000,dataBlock);


		 	if(b8!=null){
        		clearInterval(b8)
        	}
		 	refreshBlock8(data["HIGH DELIVERY"])
		 	b8 = setInterval(refreshBlock8,30*1000,data["HIGH DELIVERY"]);


		 	if(b10!=null){
        		clearInterval(b10)
        	}
		 	refreshBlock10(data["52WHigh"])
		 	b10 = setInterval(refreshBlock10,30*1000,data["52WHigh"]);


		 	if(b11!=null){
        		clearInterval(b11)
        	}
		 	refreshBlock11(data["VOLUME BURST 10D"])
		 	b11 = setInterval(refreshBlock11,30*1000,data["VOLUME BURST 10D"]);



		 	if(b12!=null){
        		clearInterval(b12)
        	}
		 	refreshBlock12(data["VOLUME BURST 15D"])
		 	b12 = setInterval(refreshBlock12,30*1000,data["VOLUME BURST 15D"]);
		 	



		 	if(b13!=null){
        		clearInterval(b13)
        	}
			refreshBlock13(data["ADV/DEC LATEST"]);
		 	b13 = setInterval(refreshBlock13,30*1000,data["ADV/DEC LATEST"]);


		 	
			refreshBlock14(positives,negatives);
		 	//b4 = setInterval(refreshBlock14,30*1000,positives,negatives);



		 	if(bNews!=null){
		 		var randNos = (parseInt(Math.random()*100))%3;
		 		if(randNos==2){
		 			console.log("REFETCH NEWS");

		 			clearInterval(bNews);
		 			bNews = setInterval(refreshNews,120*1000,data["NEWS"]);
		 		}
		 	}
		 	else{
		 		refreshNews(data["NEWS"]);
		 		bNews = setInterval(refreshNews,120*1000,data["NEWS"]);
			}










        }
    });

}
getNewDataSet();

var globalIterator = setInterval(getNewDataSet,600*1000);


		 </script>

	</body>
</html>