{% extends 'base.html' %}
{% load static %}
{% block content %}
<section class="section section-padding section-full-width-bg-light">
						<section class="container-fluid no-padding"> 
							<div class="row">
								<div class="col-md-12">
									<div class="">
										<figure class="image">
											<img src="{%static "img/1304036.jpg" %}" alt="" class="img-responsive" style="width: -webkit-fill-available;height: 800px;filter: blur(8px);
  -webkit-filter: blur(8px);opacity: 0.6;" />
										</figure>
									</div>
								</div>
							</div>
                        </section>
						
					</section>
{% endblock content %}

